.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-nav-row-header {
    width: 100%;
    height: 72px;
    display: flex;
    padding: 0 120px;
    position: relative;
    max-width: 1329px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    justify-content: space-between;
  }
  .home-logo {
    width: 150px;
    height: 48px;
    display: flex;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
  }
  .home-group1 {
    top: 8px;
    left: 8px;
    width: 132.71945190429688px;
    height: 32px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .home-logo1 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(45, 104, 254, 1);
  }
  .home-polygon1 {
    top: 23.200000762939453px;
    left: 23.200000762939453px;
    width: 14px;
    height: 14px;
    position: absolute;
    box-sizing: border-box;
  }
  .home-salesio {
    top: 6.71875px;
    left: 44px;
    width: 89px;
    height: 19px;
    position: absolute;
    box-sizing: content-box;
  }
  .home-frame13 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    justify-content: flex-end;
  }
  .home-frame7 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 32px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .home-nav-row-tabs {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .home-frame5 {
    display: flex;
    padding: 26px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(45, 104, 254, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .home-text {
    color: var(--dl-color-default-primarygray);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-nav-row-tabs1 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .home-frame51 {
    display: flex;
    padding: 26px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .home-text2 {
    color: var(--dl-color-default-secondarygray);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-nav-row-tabs2 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .home-frame52 {
    display: flex;
    padding: 26px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .home-text4 {
    color: var(--dl-color-default-secondarygray);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 12px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-uangledown {
    width: 20px;
    height: 20px;
    position: relative;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }
  .home-nav-row-tabs3 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .home-frame53 {
    display: flex;
    padding: 26px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .home-text6 {
    color: var(--dl-color-default-secondarygray);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 12px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-uangledown1 {
    width: 20px;
    height: 20px;
    position: relative;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }
  .home-right-item {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    justify-content: center;
  }
  .home-display-picture-variants {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .home-display-picture {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    justify-content: center;
  }
  .home-frame1 {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: absolute;
    flex-grow: 1;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(217, 217, 217, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 7000px;
    margin-bottom: 0;
  }
  .home-i-m-a-g-e59 {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 282.3422546386719px;
    margin-bottom: 0;
  }
  